{% extends 'navbar.html' %}
{% block content %}
    <h2 align="center"> AddExpense</h2>
<form  method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>
                <select name="ddlnames">
                    <option selected>{{ i.firstname }}</option>
                    {% for i in data %}
                      <option>{{ i.firstname }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="searchtxt" placeholder="purpose">
            </td>
        </tr>
        <tr>
            <td><input type="number" name="txtIncome" placeholder="expense"></td>
        </tr>
         <tr>
            <td><input type="date" name="txtdate"></td>
        </tr>
        <tr>
            <td><input type="submit" name="txtbtn" value="addex"></td>
        </tr>

    </table>
</form>
{% endblock %}