{% extends 'navbar.html' %}
{% block content %}
<h2 align="center"> addfamilymem</h2>
<form action="addingmember" method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>FirstName</td>
            <td><input type="text" name="txtFirstName"></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" name="txtLastName"></td>
        </tr>
        <tr>
            <td>Income</td>
            <td><input type="number" name="txtIncome"></td>
        </tr>
        <tr>
            <td><input type="submit" name="txtbtn" value="Addtofamilymember"</td>
        </tr>
    </table>
</form>
{% endblock %}